.watch-animal {
    width: 100%;
    height: 700px;
    background: no-repeat center/cover url('../images/watch-animal/giant-panda.jpg');
}

.watch-animal_donate {
    height: 390px;
}

.watch-animal__content {
    padding-right: 16px;
}

.watch-animal__circle {
    position: relative;
    top: 10px;
    width: 465px;
    height: 465px;
    background: $color-buttons-primary;
    border-radius: 100%;
    margin-left: calc(50.7% - 465px/2 + 239.5px)
}

.watch-animal__title {
    width: 500.31px;
    height: 400px;
    text-transform: uppercase;
    padding-left: 70px;
    padding-top: 77px;
    text-align: center;
}

.watch-animal__button {
    padding-left: calc(50.7% - 298px/2 + 332px);
    padding-top: 80px;
}